.physical-weight-textfield .form-item {
  display: inline;
}

.physical-weight-textfield {
  margin: 0 0 10px;
  padding: 9px 0;
}

.physical-dimension-form-item {
  float: left;
  margin-left: 0.25em;
}

.physical-dimensions-unit-form-item {
  float: left;
  margin-top: 1.6em;
  margin-left: 0.4em;
}
