{#
/**
 * @file
 * Returns HTML for when there are no shipping rates available.
 *
 * Available variables:
 * - attributes: HTML attributes for the 360 view element.
 * - shipment: The shipment entity with the missing shipping rates.
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
  {{ 'There are no shipping rates available for this address.'|t }}
</div>
